In [2]:

# Note that all source file to be placed under the data folder in present directory.
import os
os.listdir("data/")

['loan.csv', 'Data_Dictionary.xlsx']

In [46]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

# Lets load the companies and rounds into dataframes
loan = pd.read_csv("data/loan.csv", encoding = "ISO-8859-1")

/home/santhosh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
loan.shape

(39717, 111)

## Data Cleaning
* Fix rows and columns
* Fix missing values
* Standardise values
* Fix invalid values
* Filter data

* Delete summary rows: Total, Subtotal rows 
* Delete incorrect rows: Header rows, Footer rows 
* Delete extra rows: Column number, indicators, Blank rows, Page No.

In [48]:
loan.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,"4,975.00",36 months,10.65%,162.87,B,B2,...,nan,nan,nan,nan,0.00,0.00,nan,nan,nan,nan
1,1077430,1314167,2500,2500,"2,500.00",60 months,15.27%,59.83,C,C4,...,nan,nan,nan,nan,0.00,0.00,nan,nan,nan,nan
2,1077175,1313524,2400,2400,"2,400.00",36 months,15.96%,84.33,C,C5,...,nan,nan,nan,nan,0.00,0.00,nan,nan,nan,nan
3,1076863,1277178,10000,10000,"10,000.00",36 months,13.49%,339.31,C,C1,...,nan,nan,nan,nan,0.00,0.00,nan,nan,nan,nan
4,1075358,1311748,3000,3000,"3,000.00",60 months,12.69%,67.79,B,B5,...,nan,nan,nan,nan,0.00,0.00,nan,nan,nan,nan

In [49]:
# given there are 116 rows and 39717 columns, there are atmost 53 columns with null data
len(loan[loan.isnull().sum(axis=1) > 53].index)

39717

In [50]:
# remove columns that has all missing values
loan=loan.dropna(axis=1,how='all')

In [51]:
loan.shape

(39717, 57)

In [67]:
# summing up the missing values (column-wise)
loan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2458
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12939
purpose                           0
title                            10
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

* last_pymnt_d -->	Last month payment was received
* next_pymnt_d -->	Next scheduled payment date
* tax_liens -->	Number of tax liens

There are probably 38577 loans that are closed

In [70]:
# tax_liens can be removed there are 39678 zeros and 30 Nan
loan = loan.drop('tax_liens', axis=1)